[submodule "src/ui/lib/raylib"]
	path = src/ui/lib/raylib
	url = https://github.com/raysan5/raylib.git
[submodule "src/ui/lib/raygui"]
	path = src/ui/lib/raygui
	url = https://github.com/raysan5/raygui.git
