[submodule "C++/xo/lib/raylib"]
	path = C++/xo/lib/raylib
	url = https://github.com/raysan5/raylib.git
[submodule "C++/xo/lib/raygui"]
	path = C++/xo/lib/raygui
	url = https://github.com/raysan5/raygui.git
